.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor-pointer {
  cursor: pointer;
}

.disabled {
  cursor: no-drop;
  pointer-events: none;
  opacity: 0.5;
}